@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: inherit;
}

@keyframes color-slow {
  0%,
  100% {
    opacity: 1;
    color: #6366f1;
  }
  50% {
    opacity: 0.5;
    color: #6366F1/90;
  }
}

.animate-color-slow {
  animation: color-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
