@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: inherit;
}
